datasets/

VLMEvalKit/slurm_logs/

SwimBird-SFT-92K
models/
.vscode/
__pycache__/
src/trainer/__pycache__
src/train/__pycache__
*.pyc
log_to_be_analyzed/
swimbird_singlenode_2b/
swimbird_singlenode/
swimbird/
wandb/
vllm/
VLMEvalKit/outputs/
coconut/
swimbird_singlenode_2b/
swimbird_2b_thought0_latent__eval/
tmp_case_diff_md/